.heading{
  font-family: 'Ubuntu', sans-serif;
  color: #06283D;
    margin-bottom: 0 !important;
    margin-left: 2.5rem;

}
.top{
  background-color: #256D85;
  height: auto;
}
.mid{
  background-color: #DFF6FF;
  height: auto;
}
.cb-1[type="checkbox"] {
    content: url('images/img1.jpg');
    appearance: none;
    display: block;
    width: 150px;
    height: 150px;


}

.cb-1[type="checkbox"]:checked {
    content: url('images/img1d.jpg');

}


.cb-2[type="checkbox"] {
    content: url('images/img2.jpg');
    appearance: none;
    display: block;
    width: 150px;
    height: 150px;


}

.cb-2[type="checkbox"]:checked {
    content: url('images/img2d.jpg');

}



.cb-3[type="checkbox"] {
    content: url('images/img3.jpg');
    appearance: none;
    display: block;
    width: 150px;
    height: 150px;


}

.cb-3[type="checkbox"]:checked {
    content: url('images/img3d.jpg');

}



.cb-4[type="checkbox"] {
    content: url('images/img4.jpg');
    appearance: none;
    display: block;
    width: 150px;
    height: 150px;


}

.cb-4[type="checkbox"]:checked {
    content: url('images/img4d.jpg');

}

.cb-5[type="checkbox"] {
    content: url('images/img5.jpg');
    appearance: none;
    display: block;
    width: 150px;
    height: 150px;


}

.cb-5[type="checkbox"]:checked {
    content: url('images/img5d.jpg');

}


.cb-6[type="checkbox"] {
    content: url('images/img6.jpg');
    appearance: none;
    display: block;
    width: 150px;
    height: 150px;


}

.cb-6[type="checkbox"]:checked {
    content: url('images/img6d.jpg');

}


.cb-7[type="checkbox"] {
    content: url('images/img7.jpg');
    appearance: none;
    display: block;
    width: 150px;
    height: 150px;


}

.cb-7[type="checkbox"]:checked {
    content: url('images/img7d.jpg');

}


.cb-8[type="checkbox"] {
    content: url('images/img8.jpg');
    appearance: none;
    display: block;
    width: 150px;
    height: 150px;


}

.cb-8[type="checkbox"]:checked {
    content: url('images/img8d.jpg');

}


.cb-9[type="checkbox"] {
    content: url('images/img9.jpg');
    appearance: none;
    display: block;
    width: 150px;
    height: 150px;


}

.cb-9[type="checkbox"]:checked {
    content: url('images/img9d.jpg');

}


.cb-10[type="checkbox"] {
    content: url('images/img10.jpg');
    appearance: none;
    display: block;
    width: 150px;
    height: 150px;


}

.cb-10[type="checkbox"]:checked {
    content: url('images/img10d.jpg');

}



.cb-11[type="checkbox"] {
    content: url('images/img11.jpg');
    appearance: none;
    display: block;
    width: 150px;
    height: 150px;


}

.cb-11[type="checkbox"]:checked {
    content: url('images/img11d.jpg');

}



.cb-12[type="checkbox"] {
    content: url('images/img12.jpg');
    appearance: none;
    display: block;
    width: 150px;
    height: 150px;


}

.cb-12[type="checkbox"]:checked {
    content: url('images/img12d.jpg');

}

.cb-13[type="checkbox"] {
    content: url('images/img13.jpg');
    appearance: none;
    display: block;
    width: 150px;
    height: 150px;


}

.cb-13[type="checkbox"]:checked {
    content: url('images/img13d.jpg');

}


.cb-15[type="checkbox"] {
    content: url('images/img15.jpg');
    appearance: none;
    display: block;
    width: 150px;
    height: 150px;


}

.cb-15[type="checkbox"]:checked {
    content: url('images/img15d.jpg');

}


.cb-14[type="checkbox"] {
    content: url('images/img14.jpg');
    appearance: none;
    display: block;
    width: 150px;
    height: 150px;


}

.cb-14[type="checkbox"]:checked {
    content: url('images/img14d.jpg');

}


.cb-16[type="checkbox"] {
    content: url('images/img16.jpg');
    appearance: none;
    display: block;
    width: 150px;
    height: 150px;


}

.cb-16[type="checkbox"]:checked {
    content: url('images/img16d.jpg');

}


input{
  text-align: center;
}
.oo{
 text-align: center;
 height: 33.33%;
background-color: #DFF6FF;
padding-left: 70px;
}
.pd{

  padding-left: 2%;
  background-color: #DFF6FF;

}
.pl{

   padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 20px;
background-color: #DFF6FF;
}

.card{
  background-color: #DFF6FF !important;
}
